{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "exclude": ["transform-regenerator"] }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
  ]
}
