{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react-hooks"
  ],
  "globals": {
    "LAST_VERSION": true,
    "CognitoUserPoolId": true,
    "CognitoUserPoolClientId": true,
    "DynamoDBNotesTableName": true,
    "GraphQLApiEndpoint": true,
    "GraphQLApiId": true,
    "Region": true,
    "AuthType": true
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathPrefix": "@syl",
        "rootPathSuffix": "src"
      }
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "semi": [1, "never"],
    "max-len": [1, 80],
    "arrow-parens": [2, "as-needed"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
}
